<li class="list-group-item">
  <strong><%= comment.commenter %>:</strong> <%= comment.body %> 
  <p>Rating: <%= comment.rating %>/5</p> 
  <% if current_user %>
    <% if current_user.id == comment.user_id %>
      <%= link_to 'Delete', [comment.product, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-danger float-right" %>
    <% end %>
  <% end %>
</li>
